[build]
  command = "npm run build"
  publish = "build"
  base = "website"

[context.deploy-preview]
  command = "npm run build"
  
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
